---
layout: default
---

<div class="home">

  <h1 class="page-heading">まとめ一覧</h1>
  <p>タイルをクリックすると各ページへ飛びます。</p>

  {% include collection_tile.html collection=site.etcs %}

  <ul class="post-list">
    <h1 class="page-heading">その他</h1>
    <p>一時的な記事置き場です。他の場所に移動する予定です。</p>
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
